* {
  box-sizing: border-box;
}

.countryContainer {
  border: solid #222 2px;
  border-top-right-radius: 24px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.countryChart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.yearlyData {
  flex: 1 1 auto;
  height: 140px;
  width: 1%;
  min-width: 10px;
}

.yearlyBar {
  position: relative;
  top: -14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.yearlyBar--clean {
  background: #52af4f;
  border: solid #b2e8b0 1px;
}

.yearlyBar--dirty {
  background: #683411;
  border: solid #cc7d49 1px;
}

.yearlyBar--nuclear {
  background: #364256;
  border: solid #a6badb 1px;
}

.yearlyBar--nuclear {
  background: #af8346;
  border: solid #e2b26f 1px;
}

.yearlyBar--hydro {
  background: #364256;
  border: solid #a6badb 1px;
}

.clean0, .dirty0, .nuclear0, .hydro0 {
  display: none;
}

.yearlyData p {
  transform: rotate(90deg);
  font-size: 0.7em;
  font-weight: bold;
  position: relative;
  top: 110%;
}

.yearlyData div {
  width: 100%;
}
