* {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  flex: 0 0 auto;
  font-family: lato;
  background: #222;
}

.bottomLine {
  height: 2px;
  background: #fff;
  margin-top: 1em;
  width: 0%;
  transition: width 1.5s;
}

.bottomLineWide {
  width: 100%;
}
