header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.bottomLine {
  width: 4vw;
  height: 8px;
  background: #222;
  border-radius: 4px;
  margin-top: 1em;
}

.bottomLineWide {
  width: 96vw;
}
