* {
  box-sizing: border-box;
}

.projectContainer {
  background: #9cafce;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.projectHeading {
  text-align: center;
  padding: 1em;
}

.projectLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: lato;
}

.canvasAndControlsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvasWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-top: 0.5em;
  border: solid #222 4px;
  width: 400px;
  background: #222;
}

.controls__inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
}

.controls__inputDesc {
  font-weight: 600;
  background: #222;
  color: white;
  flex: 1 1 auto;
  width: 40%;
}

input {
  flex: 1 1 auto;
  width: 60%;
  height: 2em;
  font-size: 1.2em;
}

.controls__buttonsContainer {
  width: 100%;
}

.controls__button {
  height: 50px;
  width: 50%;
  font-weight: 800;
  font-size: 1em;
}

.controls__button:hover {
  background: #222;
  color: white;
  cursor: pointer;
}

.projectDescription, .howItWorks {
  padding: 1em;
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.canvasAndDescription {
  display: flex;
  flex-direction: column;
}

.articleHeading {
  text-align: center;
  padding: 0.5em;
}

.stuffUsed {
  margin: 1em;
}

.stuffUsed__heading {}

.stuffUsed__list {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  list-style: none;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .canvasAndDescription {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .projectDescription {
    margin-left: 5%;
    margin-top: 0px;
  }
  .articleHeading {
    padding-top: 0px;
  }
  .projectLayout {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .controls {
    width: 100%;
  }
}
