* {
  box-sizing: border-box;
}

.chart {
  border: solid #222 2px;
  border-top-right-radius: 24px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 0.5em;
}

.chart--percents {
  height: 240px;
}

.chart__graphic {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  padding-top: 0.5em;
}

.chart__graphic--absolutes {
  align-items: flex-end;
  padding-top: 2em;
  padding-bottom: 2em;
}

.chart__column {
  flex: 1 1 auto;
  width: 1%;
  min-width: 10px;
}

.chart__column--percents {
  height: 140px;
}

.chart__column-graphic {
  position: relative;
  top: -14px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart__energy-graphic--clean {
  background: #52af4f;
  border-color: #b2e8b0;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

.chart__energy-graphic--hydro {
  background: #364256;
  border-color: #a6badb;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

.chart__energy-graphic--nuclear {
  background: #af8346;
  border-color: #e2b26f;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

.chart__energy-graphic--dirty {
  background: #683411;
  border-color: #cc7d49;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

/*not strictly necessary now, used to get rid of zero value energy blocks if they have top or bottom borders*/
.clean0, .dirty0, .nuclear0, .hydro0 {
  display: none;
}

.chart__columns-label {
  transform: rotate(90deg);
  font-size: 0.7em;
  font-weight: bold;
  position: relative;
  top: 110%;
}
