* {
  box-sizing: border-box;
}

.projectContainer {
  background: #9cafce;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.projectHeading {
  text-align: center;
  padding: 1em;
}

.projectLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: lato;
}

.canvasAndControlsContainer {}

.canvasWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 400px;
}

.control {
  margin: 0.5em;
}

.projectDescription, .howItWorks {
  padding: 1em;
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.canvasAndDescription {
  display: flex;
  flex-direction: column;
}

.articleHeading {
  text-align: center;
  padding: 0.5em;
}

.stuffUsed {
  margin: 1em;
}

.stuffUsed__heading {}

.stuffUsed__list {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  list-style: none;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .canvasAndDescription {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .projectLayout {
    width: 80%;
  }
}
