* {
  box-sizing: border-box;
}

.projectWrapper {
  width: 100%;
  background: #ddd;
}

h2 {
  padding-top: 1.5em;
  text-align: center;
}

.ProjectTwoControlsLayoutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1em;
}

.chartKey {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.chartKey__element {
  display: flex;
  flex-direction: row;
}

.chartKey__colorBlock {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

.chartKey__colorBlock--clean {
  background: #52af4f;
}

.chartKey__colorBlock--hydro {
  background: #364256;
}

.chartKey__colorBlock--nuclear {
  background: #af8346;
}

.chartKey__colorBlock--dirty {
  background: #683411;
}

.projectTwoControls {
  margin-top: 1em;
  margin-left: 1em;
  height: 60px;
  background: #222;
  border: solid #222 4px;
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.projectTwoControls__dropDown {
  height: 100%;
  width: 120px;
}

.projectTwoControls__dropDownLabel {
  height: 50%;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding-top: 4px;
}

.projectTwoControls__dropDownList {
  height: 50%;
  width: 100%;
  font-size: 1.2em;
}

.projectTwoControls__togglePercentAbsolute {
  margin-left: 1em;
  padding-right: 0.3em;
  padding-left: 0.2em;
  padding-top: 0.1em;
  border-top-right-radius: 8px;
  font-size: 0.8;
  font-weight: 600;
  color: #222;
  background-color: white;
}

.projectTwoControls__togglePercentAbsolute:focus {
  outline: 0;
}

.projectArticlesAll {

}

.projectArticle {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.projectArticle__heading {
  text-align: center;
}

.projectArticle__text {
  max-width: 1200px;
  text-align: justify;
  margin: auto;
  margin-top: 1em;
  font-size: 1.2em;
}

.stuffUsed {
  margin: 1em;
}

.stuffUsed__heading {
  text-align: center;
}

.stuffUsed__list {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  list-style: none;
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .ProjectTwoControlsLayoutContainer {
    flex-direction: row;
  }
}
